.relative {
  position: relative;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.v-btn--absolute.v-btn--right, .v-btn--fixed.v-btn--right {
  @media (max-width: 720px) {
    & {
      right: 4px;
    }
  }
}